<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plus.demo.mapper.GraduateMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.plus.demo.entity.Graduate">
        <id column="C_ID" property="cId" />
        <result column="C_PASSWORD" property="cPassword" />
        <result column="C_NAME" property="cName" />
        <result column="N_GENDER" property="nGender" />
        <result column="N_COLLEGE" property="nCollege" />
        <result column="N_PROFESSION" property="nProfession" />
        <result column="C_GRADE" property="cGrade" />
        <result column="C_TEL" property="cTel" />
        <result column="N_PEOPLE" property="nPeople" />
        <result column="N_POLITICALSTATUS" property="nPoliticalStatus" />
        <result column="C_IDCARD" property="cIdCard" />
        <result column="N_EDUCATION" property="nEducation" />
        <result column="N_DEGREE" property="nDegree" />
        <result column="C_ADDRESS" property="cAddress" />
        <result column="D_GRADUATETIME" property="dGraduateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        C_ID AS cId, C_PASSWORD AS cPassword, C_NAME AS cName, N_GENDER AS nGender, N_COLLEGE AS nCollege, N_PROFESSION AS nProfession, C_GRADE AS cGrade, C_TEL AS cTel, N_PEOPLE AS nPeople, N_POLITICALSTATUS AS nPoliticalstatus, C_IDCARD AS cIdcard, N_EDUCATION AS nEducation, N_DEGREE AS nDegree, C_ADDRESS AS cAddress, D_GRADUATETIME AS dGraduatetime
    </sql>

</mapper>
