<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plus.demo.mapper.RecruitmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.plus.demo.entity.Recruitment">
        <id column="c_id" property="cId" />
        <result column="c_title" property="cTitle" />
        <result column="c_info" property="cInfo" />
        <result column="c_place" property="cPlace" />
        <result column="n_salary" property="nSalary" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id AS cId, c_title AS cTitle, c_info AS cInfo, c_place AS cPlace, n_salary AS nSalary
    </sql>

</mapper>
