<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plus.demo.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.plus.demo.entity.Teacher">
        <id column="n_id" property="nId" />
        <result column="c_password" property="cPassword" />
        <result column="c_name" property="cName" />
        <result column="n_gender" property="nGender" />
        <result column="c_college" property="cCollege" />
        <result column="c_office" property="cOffice" />
        <result column="c_tel" property="cTel" />
        <result column="c_permission" property="cPermission" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        n_id AS nId, c_password AS cPassword, c_name AS cName, n_gender AS nGender, c_college AS cCollege, c_office AS cOffice, c_tel AS cTel, c_permission AS cPermission
    </sql>

</mapper>
