<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plus.demo.mapper.UnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.plus.demo.entity.Unit">
        <id column="c_id" property="cId" />
        <result column="c_name" property="cName" />
        <result column="c_address" property="cAddress" />
        <result column="c_zipCode" property="cZipcode" />
        <result column="c_location" property="cLocation" />
        <result column="c_contact" property="cContact" />
        <result column="c_contactTel" property="cContacttel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id AS cId, c_name AS cName, c_address AS cAddress, c_zipCode AS cZipcode, c_location AS cLocation, c_contact AS cContact, c_contactTel AS cContacttel
    </sql>

</mapper>
